<ng-container *ngIf="blockConversion; else currentConversion">
  <span [class]="colorClass" *ngIf="getRate() as rate">
    {{ rate * value / 1000000000000 | fiatCurrency : digitsInfo : currency }}
  </span>
</ng-container>
<ng-template #currentConversion>
  <ng-container *ngIf="(conversions$ | async) as conversions">
    <span [class]="colorClass" *ngIf="getRate(conversions) as rate">
      {{ rate * value / 1000000000000 | fiatCurrency : digitsInfo : currency }}
    </span>
  </ng-container>
</ng-template>
