:root {
  --bg: #11131f;
  --active-bg: #000000;
  --hover-bg: #12131e;
  --title-fg: #2055e3;
  --primary: #007cfa;
  --secondary: #272f4e;
  --tertiary: #6225b2;
  --success: #0aab2f;
  --info: #00ddff;
  --link-color: #00ddff;
  --link-hover-color: #009bb3;
  --skeleton-bg: #2e324e;
  --skeleton-bg-light: #5d6182;
  --box-bg: #171c2a;
  --stat-box-bg: #0b1018;
  --block-top: #232838;
  --block-side: #191c27;
  --block-goggles-overlay: #181b2d7f;
  --mempool-block-top: #403834;
  --mempool-block-side: #2d2825;
  --mempool-block-loading: #554b45;
  --alert-bg: #3a1c61;
  --navbar-bg: #212121;
  --fade-out-box-bg-start: rgba(23, 28, 42, 0);
  --fade-out-box-bg-end: rgba(23, 28, 42, 1);
  --world-map-bg: #272b3f;
  --green: #83fd00;
  --yellow: #fff000;
  --orange: #ff9f00;
  --search-button: #4d2d77;
  --search-button-border: #472a6e;
  --search-button-focus: #533180;
  --search-button-shadow: #7c58ab80;
  --bs-primary: #007cfa;
  --bs-primary-rgb: 0, 124, 250;
  --bs-link-color: #00ddff;
  --bs-link-color-rgb: 0, 221, 255;
  --bs-link-hover-color: #009bb3;
  --bs-link-hover-color-rgb: 0, 155, 179;
}
